@import url('https://fonts.googleapis.com/css2?family=Halant:wght@600;700&display=swap');

textarea {
  /*size and position*/
  position: absolute;
  bottom: 0px;
  resize: none;
  width: calc(100% - 144px);
  margin: 30px 40px 40px 40px;
  padding: 10px 32px;
  line-height: 1;

  /*look*/
  background: #F3F3F3;
  border-radius: 32px;
  border-width: 0;
  font-family: Halant;
  font-size: 34px;
}

@media (max-width:700px) {
  textarea {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
}