.chat {
  width: 100%;
  height: calc(100vh - 269px);
  min-height: 200px;
  position: relative;
  margin: 40px 0 100px 0;
  border: 1px solid #EDEDED;
  border-radius: 37.5px;
}

@media (max-width:700px) {
  .chat {
    margin: 20px 0 0 0;
    height: calc(100vh - 62px);
    border: none;
  }
}