@import url('https://fonts.googleapis.com/css2?family=Halant:wght@600;700&display=swap');

body {
  font-family: 'Halant', serif;
  background-color: #282828;
}

.container {
  max-width: 700px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  height: 63px;
  padding-top: 66px;
}

.header p {
  font-size: 58px;
  color: white;
}

@media (max-width:700px) {

  .container {
    max-width: none;
  }

  .header {
    height: 35px;
    padding-top: 7px;
  }

  .header p {
    font-size: 32px;
  }

}